/* Main Containers */
.main-container {
  display: flex;
  flex-direction: column;
  margin: -50px 50px 0px 50px;
  gap: 15px;
}

.main-container p {
  font-size: 12px;
}

.parent-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
}

/* Headings and Body Layout */
#heading {
  grid-template-columns: 2fr 1fr;
}

#body {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

/* Child Container */
.child-container {
  display: flex;
  align-content: center;
  font-size: 15px;
  max-height: 30vw;
}

/* Scroll Wrapper */
.scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
  gap: 20px;
  padding: 0px 10px 0px 10px;
}

/* Card Styles */
.card {
  position: relative;
  border-radius: 25px;
  background-color: rgba(150, 100, 255, 0.33);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgb(176, 99, 175) 20%,
    rgb(62, 50, 193) 100%
  );
  color: white;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s;
}

.card:hover {
  background-color: rgba(200, 150, 255, 0.45);
  transform: translateY(-5px);
  transition: background-color 0.5s, transform 0.5s;
}

.card:active {
  background-color: rgba(100, 50, 200, 0.22);
  transition: background-color 0.1s;
}

/* Big Card */
#big-card {
  width: 100%;
  max-height: 30vw;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

#big-card > h1 {
  padding-top: 15px;
}

#big-card p {
  margin-top: 20px;
}

#big-card > h2 {
  margin-bottom: -10px;
  font-weight: bolder;
}

/* Medium Card */
#medium-card {
  height: calc(15vw - 10px);
  width: 30vw;
  padding: 20px;
}

#medium-card > h2 {
  margin-bottom: 30px;
}

#medium-card:hover {
  opacity: 90%;
}

/* Small Card */
#small-card {
  height: 9vw;
  width: 16vw;
  overflow: hidden;
  font-size: 12px;
}

/* Title Styles */
.title {
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 2;
  height: 60px;
}

.title h1 {
  font-size: 30px;
  font-weight: bolder;
}

#logo {
  width: 15vw;
}

/* Special Classes */
.computing {
  background: url("./Workshops/Cloud Computing/Backbone of AWS/img/banner.png")
    no-repeat center center;
  background-size: cover;
}

.security {
  background: url("./Workshops/Security/First Line of Defense/img/banner.png")
    no-repeat center center;
  background-size: cover;
}

.coming-soon {
  background: rgb(17, 15, 17, 0.5);
}

/* Media Queries */

/* 350px */
@media (max-width: 350px) {
  #big-card {
    min-height: 450px;
  }
  .title {
    height: 90px;
  }
}

/* 400px */
@media (max-width: 400px) {
  .main-container {
    margin: -50px 0px 0px 0px;
  }

  #big-card {
    min-height: 460px;
    width: 60vw;
  }

  #medium-card {
    height: 30vw;
    width: 60vw;
  }

  #big-card p {
    font-size: 10.5px;
  }

  .title h1 {
    font-size: 20px;
  }
}

/* 350px - 420px */
@media (min-width: 350px) and (max-width: 420px) {
  #big-card {
    min-height: 425px;
  }
  .title {
    height: 90px;
  }
}

/* 420px - 500px */
@media (min-width: 420px) and (max-width: 500px) {
  #big-card {
    min-height: 410px;
  }
  .title {
    height: 90px;
  }
}

/* 500px - 575px */
@media (min-width: 500px) and (max-width: 575px) {
  #logo {
    width: 100px;
  }

  #big-card {
    min-height: 400px;
    width: 60vw;
  }

  #big-card h2,
  #medium-card h2 {
    font-size: 18px;
  }

  .title h1 {
    font-size: 15px;
  }

  .title {
    height: 90px;
  }
}

/* Small Screen */
@media (max-width: 815px) {
  #heading {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #body {
    grid-template-columns: 1fr 1fr;
  }

  #logo {
    width: 125px;
  }

  #big-card {
    max-height: 350px;
    width: 60vw;
  }

  #medium-card {
    height: 30vw;
    width: 60vw;
  }

  .child-container {
    flex-direction: row;
    justify-content: center;
    max-height: fit-content;
    gap: 20px;
  }

  .title,
  .main-container h2 {
    justify-content: center;
    text-align: center;
  }

  .title h1 {
    font-size: 28.8px;
  }

  #big-card h2,
  #medium-card h2 {
    font-size: 20px;
  }
}

/* Medium Screen */
@media (min-width: 815px) and (max-width: 1150px) {
  #heading {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #logo {
    width: 150px;
  }

  #big-card {
    max-height: 340px;
    width: 70vw;
  }

  #medium-card {
    height: 17.5vw;
    width: calc(35vw - 10px);
  }

  .title,
  .main-container h2 {
    justify-content: center;
    text-align: center;
  }
}

/* All common media queries for vertical layout starts here */
@media (max-width: 1150px) {
  .parent-container {
    gap: 20px;
  }

  .child-container {
    flex-direction: row;
    justify-content: center;
    max-height: fit-content;
    gap: 20px;
  }

  .scroll-wrapper {
    overflow: visible;
  }
}

/* Tablet Devices */
@media (min-width: 1150px) and (max-width: 1300px) {
  #body {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #big-card {
    max-height: 30vw;
  }

  .child-container {
    max-height: 30vw;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
