.main-container {
  display: flex;
  flex-direction: column;
  margin: -50px 50px 0px 50px;
  gap: 15px;
}

.main-container > h1:first-child {
  min-height: fit-content;
  margin-bottom: 0;
}

.parent-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
}

#heading {
  grid-template-columns: 2fr 1fr;
}

#body {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.child-container {
  display: flex;
  align-content: center;
  font-size: 15px;
  max-height: 30vw;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  gap: 20px;
  padding: 10px;
}

.card {
  position: relative;
  border-radius: 25px;
  background-color: rgba(150, 100, 255, 0.33);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgb(176, 99, 175) 20%,
    rgb(62, 50, 193) 100%
  );
  height: fit-content;
  width: fit-content;
  color: white;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s;
}

.card:hover {
  background-color: rgba(200, 150, 255, 0.45);
  transform: translateY(-5px);
  transition: background-color 0.5s, transform 0.5s;
}

.card:active {
  background-color: rgba(100, 50, 200, 0.22);
  transition: background-color 0.1s;
}

#big-card {
  width: 100%;
  max-height: 30vw;
  padding: 20px 20px 200px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#big-card > h1 {
  padding-top: 15px;
}

#medium-card {
  height: calc(15vw - 20px);
  width: 26vw;
  padding: 20px;
}
#small-card {
  height: 9vw;
  width: 16vw;
  overflow: hidden;
  font-size: 12px;
}

.computing {
  background: url("./Workshops/Cloud Computing/Backbone of AWS/img/banner.png")
    no-repeat center center;
  background-size: cover;
}

.security {
  background: url("./Workshops/Security/First Line Of Defense/img/banner.png")
    no-repeat center center;
  background-size: cover;
}

.coming-soon {
  background: rgb(17, 15, 17, 0.5);
}

#medium-card > h2 {
  margin-bottom: 30px;
}

#medium-card:hover {
  opacity: 90%;
}

#big-card > h2 {
  margin-bottom: -10px;
}

.title {
  padding-top: 15px;
  padding-bottom: 5px;
  height: 30px;
  font-weight: bolder;
}

.main-container p {
  font-size: 12px;
}

#logo {
  width: 15vw;
}
/* Media Queries */

/* Mobile Devices */
@media (max-width: 700px) {
  #heading {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #body {
    grid-template-columns: 1fr 1fr;
  }

  #logo {
    width: 125px;
  }

  #big-card {
    max-height: 400px;
    width: 60vw;
  }

  #medium-card {
    height: 34vw;
    width: 60vw;
  }

  #small-card {
    height: 34vw;
    width: 60vw;
  }

  .child-container {
    flex-direction: row;
    justify-content: center;
    max-height: fit-content;
    gap: 20px;
  }

  .main-container h1,
  .main-container h2 {
    text-align: center;
  }
}

/* Medium Screen */
@media (min-width: 700px) and (max-width: 1050px) {
  #heading {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #logo {
    width: 150px;
  }

  #big-card {
    max-height: 325px;
    width: 70vw;
  }

  #medium-card {
    height: 19vw;
    width: 35vw;
  }

  #small-card {
    height: 20vw;
    width: 35vw;
  }

  .child-container {
    flex-direction: row;
    justify-content: center;
    max-height: fit-content;
    gap: 20px;
  }

  h1,
  h2 {
    text-align: center;
  }
}

/* Tablet Devices */
@media (min-width: 1050px) and (max-width: 1300px) {
  #body {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #small-card {
    height: 15vw;
    width: 25vw;
  }

  #big-card {
    max-height: 30vw;
  }

  .child-container {
    max-height: 30vw;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
